{% extends '::layout.html.twig' %}

{% block content %}
<style>
        ul
        {
            list-style: none;
        }
        .ff-container input
        {
            display: none;
        }
        .ff-container label
        {
            width: 150px;
        }
        .ff-items{
            position: relative;
            margin: 0px auto;
        }
        .ff-items a{
            display: block;
            position: relative;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0,0,0,0.2);
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
            -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
            box-shadow: 0 1px 3px rgba(0,0,0,0.1);
            margin: 4px;
            width: 160px;
            *height: 120px;
        }
        .ff-items a span{
            display: block;
            background: rgba(113, 123, 161, 0.9);
            font-style: italic;
            color: #FFF;
            font-weight: bold;
            padding: 20px;
            position: absolute;
            bottom: 10px;
            left: 10px;
            width: 120px;
            height: 0px;
            overflow: hidden;
            opacity: 0.5;
            text-align: center;
            text-shadow: 1px 1px 1px #303857;
            transition: all 0.3s ease-in-out;
        }
        .ff-items a:hover span{
            height: 120px;
            opacity: 0.9;
        }
        .ff-items li img{
            display: block;
        }
        .ff-items li{
            margin: 0px;
            float: left;
            width: 0px;
            -webkit-transform: scale(0,0);
            -moz-transform: scale(0,0);
            -o-transform: scale(0,0);
            -ms-transform: scale(0,0);
            transform: scale(0,0);
            transition: all 0.6s ease-in-out;
        }
        .ff-container input.ff-selector-type-all:checked ~ .ff-items li
        {
            width: 188px;
            margin: 3px;
            -webkit-transform: scale(1,1);
            -moz-transform: scale(1,1);
            -o-transform: scale(1,1);
            -ms-transform: scale(1,1);
            transform: scale(1,1);
            -webkit-transition: -webkit-transform 0.3s linear;
            -o-transition: -o-transform 0.3s linear;
            -ms-transition: -ms-transform 0.3s linear;
            transition: transform 0.3s linear;
        }
    {% for category in categories %}
        .ff-container input.ff-selector-type-{{category.id}}:checked ~ .ff-items .ff-item-type-{{category.id}}
        {
            -webkit-transition: -webkit-transform 0.3s linear, width 0s linear 0.3s;
            -moz-transition: -moz-transform 0.3s linear, width 0s linear 0.3s;
            -o-transition: -o-transform 0.3s linear, width 0s linear 0.3s;
            -ms-transition: -ms-transform 0.3s linear, width 0s linear 0.3s;
            transition: transform 0.3s linear, width 0s linear 0.3s;
            -webkit-animation: scaleUp 0.3s linear 0.4s forwards;
            -moz-animation: scaleUp 0.3s linear 0.4s forwards;
            -o-animation: scaleUp 0.3s linear 0.4s forwards;
            -ms-animation: scaleUp 0.3s linear 0.4s forwards;
            animation: scaleUp 0.3s linear 0.4s forwards;
        }
        .ff-container input.ff-selector-type-{{category.id}}:checked ~ .ff-items li:not(.ff-item-type-{{category.id}}){
            -webkit-animation: scaleDown 0.3s linear forwards;
            -moz-animation: scaleDown 0.3s linear forwards;
            -o-animation: scaleDown 0.3s linear forwards;
            -ms-animation: scaleDown 0.3s linear forwards;
            animation: scaleDown 0.3s linear forwards;
        }
        .ff-container input.ff-selector-type-{{category.id}}:checked ~ .ff-items li:not(.ff-item-type-{{category.id}}) span{
            display: none;
        }
    {% endfor %}
        @-webkit-keyframes scaleUp {
            50% { margin: 3px; width: 188px; -webkit-transform: scale(0,0); }
            100% { margin: 3px; width: 188px; -webkit-transform: scale(1,1); }
        }
        @-webkit-keyframes scaleDown {
            0% { margin: 3px; width: 188px;-webkit-transform: scale(1,1);}
            99% { margin: 3px; width: 188px; -webkit-transform: scale(0,0);}
            100% { margin: 0px; width: 0px; -webkit-transform: scale(0,0); }
        }
        @-moz-keyframes scaleUp {
            50% { margin: 3px; width: 188px; -moz-transform: scale(0,0); }
            100% { margin: 3px; width: 188px; -moz-transform: scale(1,1); }
        }
        @-moz-keyframes scaleDown {
            0% { margin: 3px; width: 188px;-moz-transform: scale(1,1);}
            99% { margin: 3px; width: 188px; -moz-transform: scale(0,0);}
            100% { margin: 0px; width: 0px; -moz-transform: scale(0,0); }
        }
        @-o-keyframes scaleUp {
            50% { margin: 3px; width: 188px; -o-transform: scale(0,0); }
            100% { margin: 3px; width: 188px; -o-transform: scale(1,1); }
        }
        @-o-keyframes scaleDown {
            0% { margin: 3px; width: 188px;-o-transform: scale(1,1);}
            99% { margin: 3px; width: 188px; -o-transform: scale(0,0);}
            100% { margin: 0px; width: 0px; -o-transform: scale(0,0); }
        }
        @-ms-keyframes scaleUp {
            50% { margin: 3px; width: 188px; -ms-transform: scale(0,0); }
            100% { margin: 3px; width: 188px; -ms-transform: scale(1,1); }
        }
        @-ms-keyframes scaleDown {
            0% { margin: 3px; width: 188px;-ms-transform: scale(1,1);}
            99% { margin: 3px; width: 188px; -ms-transform: scale(0,0);}
            100% { margin: 0px; width: 0px; -ms-transform: scale(0,0); }
        }
        @keyframes scaleUp {
            50% { margin: 3px; width: 188px; transform: scale(0,0); }
            100% { margin: 3px; width: 188px; transform: scale(1,1); }
        }
        @keyframes scaleDown {
            0% { margin: 3px; width: 188px; transform: scale(1,1);}
            99% { margin: 3px; width: 188px; transform: scale(0,0);}
            100% { margin: 0px; width: 0px; transform: scale(0,0); }
        }
        
        #comment {
            position: absolute;
            top: 150px;
            margin-top: 15px;
        }

        #comment.fixed {
            position: fixed;
            top: 0;
        }
          
        .color2 {
            background-color: #DA2D3D !important;          
        }
        .color3 {
            background-color: #049EB7 !important;          
        }
        .color4 {
            background-color: #B9C96A !important;          
        }
        .color5 {
            background-color: #B40059 !important;          
        }
        .color6 {
            background-color: #B06009 !important;          
        }
        .color7 {
            background-color: #4C722C !important;          
        }
        .color8 {
            background-color: #FBEF5A !important;          
        }
        .color9 {
            background-color: #90529B !important;          
        }
    </style>
    <div class="span2" id="comment">
        <button class="btn btn-block btn-info">
            <label for="select-type-all" class="ff-label-type-all">Toutes</label>
        </button>
        {% for category in categories %}
        <button class="btn btn-block">
            <label for="select-type-{{category.id}}" class="ff-label-type-{{category.id}}">{{category.name}}</label>
        </button>
        {% endfor %}
    </div>
    <div class="span2"></div>
    <div class="span10">
        <section class="ff-container">
            <input id="select-type-all" name="radio-set-1" type="radio" class="ff-selector-type-all" checked="checked" />
        {% for category in categories %}
            <input id="select-type-{{category.id}}" name="radio-set-1" type="radio" class="ff-selector-type-{{category.id}}" />
        {% endfor %}

            <ul class="ff-items">
            {% for bd in bds %}
                    <li class="ff-item-type-{{bd.category.id}}">
                        <a href="{{path('dtb_bd_show', {'id': bd.id})}}">
                            <span class="color{{bd.category.id}}">{{bd.title}}</span>
                            <img src="{{asset('bd/cover'~ bd.id ~'.jpg')}}" />
                        </a>
                    </li>
            {% endfor %}
                </ul>
            </section>
        </div>
        <div class="span12" style="clear: both;"><br/><br/></div>
        <div class="span12" style="clear: both;"><br/><br/></div>
        <div class="span12" style="clear: both;"><br/><br/></div>
        <div class="span12" style="clear: both;"><br/><br/></div>
        <div class="span12" style="clear: both;"><br/><br/></div>
        <div class="span12" style="clear: both;"><br/><br/></div>

{% endblock %}
        
{% block javascripts %}
<script type="text/javascript">
$(document).ready(function () {  
  var top = $('#comment').offset().top - parseFloat($('#comment').css('marginTop').replace(/auto/, 0));
  $(window).scroll(function (event) {
    // what the y position of the scroll is
    var y = $(this).scrollTop();
  
    // whether that's below the form
    if (y >= top) {
      // if so, ad the fixed class
      $('#comment').addClass('fixed');
    } else {
      // otherwise remove it
      $('#comment').removeClass('fixed');
    }
  });
});
</script>
{% endblock %}