<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}DansTaBulle{% endblock %}</title>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/danstabulle.css') }}" rel="stylesheet" media="screen">
        <script type="text/javascript" src="{{ asset('js/modernizr.custom.29473.js') }}"></script>
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/danstabulle.js') }}"></script>
    </head>
    <body>
<div class="hero-unit">
    <h1>Petit filou! Vous êtes perdu?</h1>
    <p>La page demandée ne t'es pas accessible pour une raison apparente: Tu n'as pas les droits pour y accéder.</p>
    <p>Nous t'avons donc attrapé cette fois-ci. Si tu recommences, tu iras à la police du site.</p>
    <p>Cordialement,<br/>L'Administration</p>
</div>