<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}DansTaBulle{% endblock %}</title>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/danstabulle.css') }}" rel="stylesheet" media="screen">
        <script type="text/javascript" src="{{ asset('js/modernizr.custom.29473.js') }}"></script>

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand">DansTaBulle</a>
                    <ul class="nav">
                        <li><a href="{{ path('dtb_offline_homepage') }}">Accueil</a></li>
                        <li><a href="{{ path('dtb_bd_explore') }}">Explorer</a></li>
                        <li><a href="{{ path('dtb_bd_contribute') }}">Contribuer</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Shop</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li> <div class="input-append">
                                <input class="span2" id="appendedInput search-query" type="text">
                                <span class="add-on"><i class="icon-search"></i></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
                
        <div class="container ombre blanc">
            <div>
                <ul class="breadcrumb">
                    <li><a href="#"><i class="icon-home"></i></a> <span class="divider">/</span></li>
                    <li class="active">Bienvenue sur danstabulle</li>
                    {% if not(is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
                    <li class="pull-right">
                        <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
                    </li>
                    <li class="dropdown pull-right">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Connexion<strong class="caret"></strong>  <div class="btn-group">
                            </div> </a>
                        <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                            {% render "FOSUserBundle:Security:login" %}
                        </div>
                    </li>
                    {% else %}
                    <li class="dropdown pull-right">
	
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon-user"></i> {{app.user.username}} <strong class="caret"></strong>
                        <div class="btn-group">
			</div> </a>
			<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
			<p><a href="{{ path('fos_user_profile_show') }}">Profil</a></p>
                        <p><a href="{{ path('fos_user_profile_edit') }}">Editer votre profil</a></p>
			<p><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></p>
			</div>
                    </li>
                    {% endif %}
                </ul>
            </div>
            
            {% block content %}
            {% endblock %}
            
        </div>
        <div class="container ombre footer">
            <center>
                <footer>
                    <p class="muted credit"><a href="#">DansTaBulle</a> est un projet de quatrième année réalisé à l'<a href="http://www.epita.fr">EPITA</a>, en <a href="mti.epita.fr">MTI</a></p>
                    <p class="muted credit">N'hésitez pas à nous <a>contacter</a>, ou bien à visiter la <a>FAQ</a><p>
                </footer>
            </center>
        </div>


        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/danstabulle.js') }}"></script>
        
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
