{% extends '::layout.html.twig' %}

{% block stylesheets %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">
<style>
.planche { width: 600px; height: 600px; overflow: hidden; max-width: 600px; max-height: 600px; float: left; }
.demo{width:150px;height:150px; position: absolute; border: 5px solid #FFFFFF; margin: 0px;}
.demo img {width: 100%; height: 100%;}
</style>
{% endblock %}

{% block content %}
<h2>Page {{planche.page}} <small> "<a href="{{path('dtb_bd_show', {'id': bd.id})}}">{{bd.title}}</a>"</small></h2>
<div class="span8">
    <div class="planche img-polaroid">
        {% for image in planche.images %}
            <div class="demo" imgID="{{image.id}}" style="top: {{image.posY + 217}}px; left: {{image.posX + 179}}px; width:{{image.width}}px; height: {{image.height}}px;">
                <img src="{{asset('img/v' ~ image.id ~ '.jpg')}}" />
            </div>
        {% endfor %}
    </div>
</div>
<div class="span5" id="Status">
    <input type="text" id="valuePlanche" placeholder="Entrez un numéro de page (/{{nbPlanche}})" style="margin-bottom: 0px;"/>
    <input type="submit" id="goToPlanche" class="btn btn-success" value="Aller à la page" />
    <br/><br/>
    <a href="#" class="btn btn-block btn-info disabled">Ajouter une image</a>
    <br/>
</div>
</body>
<script>
$(function(){
	$('.demo')
	.draggable({
		grid: [ 10,10 ],
		containment : '.planche',
		stop: function(event) {
			var offset = $(this).offset();
			var id = $(this).attr("imgID");
                        var xPos = Math.round(offset.left - $(".planche").offset().left);
                        var yPos = Math.round(offset.top - $(".planche").offset().top);
                        console.log($(".planche").offset());
			$("#Status").append("Drag " + id + " : ");
                        $('#Status').append('x: ' + xPos);
                        $('#Status').append('; y: ' + yPos);
			$("#Status").append("<br/>");
                        var destURL = "{{path('dtb_bd_move_image', {'id': "text1", 'x' : "text2", "y" : "text3"})}}";
                        destURL = destURL.replace("text1", id);
                        destURL = destURL.replace("text2", xPos);
                        destURL = destURL.replace("text3", yPos);
                        $.ajax({
                            url: destURL,
                            type: "get"
                        });
                    }
		})
	.resizable({
		grid: 10,
		handles: "all",
		stop: function(event) {
			var width = $(event.target).width();
			var height = $(event.target).height();
			var id = $(this).attr("imgID");
			$("#Status").append("Resize " + id + " : "); 
			$('#Status').append('w: ' + width);
                        $('#Status').append('; h: ' + height);
			$("#Status").append("<br/>");
                        var destURL = "{{path('dtb_bd_resize_image', {'id': "text1", 'x' : "text2", "y" : "text3"})}}";
                        destURL = destURL.replace("text1", id);
                        destURL = destURL.replace("text2", width);
                        destURL = destURL.replace("text3", height);
                        $.ajax({
                            url: destURL,
                            type: "get"
                        });
                    }
		})
        .click(function() {
            var url = "{{path('dtb_bd_show_image', {'id': "text"})}}";
            url = url.replace("text", $(this).attr("imgID"));
            window.location = url;
        });
                
     $("#goToPlanche").click(function () {
         var value = $("#valuePlanche").val();
         var url = "{{path('dtb_bd_show_planche', {'id': "text"})}}";
         if (value >= 1) {
            url = url.replace("text", value);
            window.location = url;
         }
    });      
});
</script>
{% endblock %}