{% extends '::layout.html.twig' %}

{% block content %}
<div class="span9">
    <h1>{{bd.title}}</h1>
    <hr>
    <div class="span3">
        <img src="{{asset('bd/cover'~ bd.id ~'.jpg')}}" class="img-polaroid">
    </div>
    <div class="span5">
        <blockquote style="text-align: justify">{{bd.description}}</blockquote>
    </div>
    <div class="span8">
        <h2>Planches
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% if bd.creator.id == app.user.id %}
                <a href="{{path('dtb_bd_add_planche', {'id': bd.id})}}" class="btn btn-success">Ajouter une planche</a>
            {% endif %}
        {% endif %}
        </h2>
        <hr>

    {% for planches in bd.planches %}
        <img src="{{asset('img/emptyPage.png')}}" width="135px" class="img-polaroid" />
    {% endfor %}
        <p><br></p>
    </div>
</div>
<div class="span3 well">
    <ul class="nav nav-list">
        <li class="nav-header">Votre rôle</li>
        {% if role.admin %}
        <li>Administrateur</li>
        {% endif %}
        {% if role.drawer %}
        <li>Dessinateur</li>
        {% endif %}
        {% if role.scenarist %}
        <li>Scénariste</li>
        {% endif %}
        {% if not(role.scenarist or role.drawer or role.admin) %}
        <li>Visiteur</li>
        {% endif %}

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% if bd.creator.id != app.user.id %}
        <li class="nav-header">Contribuer</li>
                {% if not(role.scenarist) %}
        <li><a href="{{path('dtb_bd_candidate_drawer', {'id': bd.id})}}">Rejoindre (Scénariste)</a></li>
                {% endif %}
                {% if not(role.drawer) %}
        <li><a href="{{path('dtb_bd_candidate_scenarist', {'id': bd.id})}}">Rejoindre (Dessinateur)</a></li>
                {% endif %}
            {% endif %}
        {% endif %}
        
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% if bd.creator.id == app.user.id %}
        <li class="nav-header">Administrer</li>
        <li><a href="{{path('dtb_bd_update', {'id': bd.id})}}">Editer</a></li>
        <li><a href="{{path('dtb_bd_see_candidatures', {'id': bd.id})}}">Candidatures <span class="badge">{{bd.candidatures.count}}</span></a></li>
            {% endif %}
        {% endif %}
            
        <li class="nav-header">Informations</li>
        <li><b><small>Créateur</small></b></li>
        <li><a href="{{path('dtb_show_user_profile', {'id':bd.creator.id})}}">{{bd.creator.username | capitalize}}</a></li>
        <li><b><small>Catégorie</small></b></li>
        <li>{{bd.category.name}}</li>
        <li><b><small>Age Minimum</small></b></li>
        <li>{{bd.category.requiredAge}} ans</li>
        
        {% if bd.needScenarists %}
        <li class="nav-header">Scénaristes (Nécessaire)</li>
        {% else %}
        <li class="nav-header">Scénaristes</li>
        {% endif %}
        {% for user in bd.scenarists %}
        <li><a href="{{path('dtb_show_user_profile', {'id':user.id})}}">{{user.username | capitalize}}</a></li>
        {% endfor %}
        
        {% if bd.needScenarists %}
        <li class="nav-header">Dessinateurs (Nécessaire)</li>
        {% else %}
        <li class="nav-header">Dessinateurs</li>
        {% endif %}
        {% for user in bd.drawers %}
        <li><a href="{{path('dtb_show_user_profile', {'id':user.id})}}">{{user.username | capitalize}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}